%li(style="#{i%2==0 ? 'padding:6px;background:#EEE;' : 'padding:6px;'}")
  = post[:full_link]
  %span
    = post[:domain]
  %br
  %span
    = "#{post[:points]} by #{post[:poster]} | "
  %span
    %a{:href => post[:comments_link]}= post[:comments]
